{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-control" name="symbol" required>
                    <option selected="true" disabled="disabled" value="">Select stock</option>
                    {% for stock in stocks %}
                        <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                    {% endfor %}
                </select>
        <div class="form-group">
            <input class="form-control" name="shares" value="1" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>
{% endblock %}
